<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    </meta>
    <title>AssembleManager</title>
    <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap-theme.min.css}" />
    <script type="text/javascript" th:src="@{jQuery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{index.js}">

    </script>
    <style>
        tr {
            height: 1cm;
        }
    
        td {
            width: 1cm;
            text-align: center;
            vertical-align: middle;
        }
    
        table,
        table tr th,
        table tr td {
            border: 1px solid black;
        }
    
        table {
    
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <!-- .container 类用于固定宽度并支持响应式布局的容器。 -->
    <div class="container">
        <!-- 栅格系统用于通过一系列的行（row）与列（column）的组合来创建页面布局 -->
        
        <div class="page-header center">
            <div class="row">
                <h1 th:text="${title}"></h1>
            </div >
        </div>

            <form role="form" action="newProject" method="GET">
                <div class="col-lg-5">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">工程名称:</span>
                    <input type="text" class="form-control" placeholder="Project Name" name="prjName"/>
                </div>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">工程路径:</span>
                    <input type="text" class="form-control" placeholder="svn://localhost/" name="remotepath"/>
                </div>
                <div class="input-group input-group-sm">
                    <span class="input-group-btn ">
                        <button class="btn btn-default" type="submit">加入新工程</button>
                    </span>
                </div>
            </form>
            <table class="table table-condensed">
                <caption>工程列表</caption>
                <thead>
                    <tr><th>-</th><th>工程名称</th><th>工程路径</th></tr>
                </thead>
                <tbody>
                    <tr th:each="entries,stat:${items}" th:style="'background-color:'+@{${stat.odd}?'#F2F2F2'}">
                        <td th:text="${stat.count}"></td>
                        <td th:text="${entries['projectName']}"></td>
                        <td th:text="${entries['remotePath']}"></td>
                       
                    </tr>
            </tbody>
            </table>
        
    </div>
</body>

</html>